.app-wrapper {
  height: 100vh;
}

.app-container {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
}

@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.mw-25 {
  min-width: 25%;
}